.col-icono {
  width: 48px;
  text-align: center;
}

mat-dialog-content {
  min-height: 300px;
  max-height: 60vh;
}

mat-form-field {
  max-width: 200px;
}

.text-muted {
  color: rgba(0, 0, 0, 0.54);
}
